.feed-swiper {
	position: relative;
	$bg: linear-gradient(
		90deg,
		hsla(0, 0%, 0%, 1) 0%,
		hsla(236, 100%, 72%, 1) 100%
	);
	&:after {
		content: " ";
		background: linear-gradient;
		left: 0;
		width: 24px;
		top: 0;
		bottom: 0;
	}
	&:before {
		content: " ";
		right: 0;
		width: 24px;
		top: 0;
		bottom: 0;
	}
}
