@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/colors.scss";
@import "./styles/toast.scss";

:root {
	--border-radius: 0.75rem;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;

	color: var(--color-label-primary);
	background-color: var(--color-bg-primary);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.material-dotted {
	background-image: radial-gradient(
		rgba(0, 0, 0, 0) 1px,
		rgba(30, 41, 59, 0.5) 1px
	);
	background-size: 4px 4px;
}

.card {
	border-radius: var(--border-radius);
	border: 1px solid var(--color-border-primary);
	background-color: var(--color-material-primary);
}

.card-with-hover {
	@extend .card;
	&:hover {
		background-color: var(--color-material-primary--hover);
	}
}
